.idea
.vscode
.DS_Store
__pycache__
outputs/*
coverage
downloads
.coverage
.coveragerc
build
dist
**/*.ckpt
**/*.egg-info
.python-version
._.DS_Store
.unison*
*.kgrind
*.pyprof
**/.polyscope.ini
**/imgui.ini
**/.eggs
.pytest_cache